/********

FOOTER

********/

#footer{
  width:960px;
  height:auto;
  background-color:#000000;
  padding:10px;
  text-align:center;
}

.pagesLinks{
  text-align:center;
  color:#26CAE3;
  font-weight:bold;
  font-size:23px;
}

.pagesLinks a{
  font-family: 'PT Sans', sans-serif;
  text-decoration:none;
  color:#FFFFFF;
  font-size:20px;
  text-transform:uppercase;
  font-weight:bold;
  margin:7px;
}

.share{
  text-align:center;
  margin-bottom:-18px;
}

.share .blue_line{
  color:#26CAE3;
  font-size:100px;
  display:inline-block;
}

.share #footerShare{
  color:#FFFFFF;
  font-family: 'PT Sans', sans-serif;
  font-size:40px;
  font-weight:bold;
  text-transform:uppercase;
  display:inline-block;
  vertical-align:6px;
}

.socialNetworks{
  text-align:center;
}

.socialNetworks img{
  width:50px;
  height:50px;
  margin:0 22px;
}

.informationsFooter{
  margin-top:40px;
  text-align:center;
}

.infosBig{
  display:inline-block;
  margin:0 40px;
}

.infosBig img{
  width:50px;
  height:50px;
  display:inline-block;
}

.infosBig .infosLittle{
  font-family: 'PT Sans', sans-serif;
  font-size:17px;
  color:#FFFFFF;
  display:inline-block;
}

.infosBig .infos1{
  vertical-align:top;
  text-align:left;
}

.infosBig .telephone{
  vertical-align:25px;
}

.logo{
  width:150px;
  margin-top:30px;
}


=======
/* HEADER */

header {
  font-family: 'Playfair Display' , serif;
}

nav {
  background: #000000;
}

nav img{
  width: 17%;
  display: inline-block;
  margin-left: 2%;
}

.menu1{
  padding-left: 70px;
}

ul {
  list-style: none;
  display: inline-block;
}

ul.menu1>li {
  display: inline-block;
  position: relative;
  padding: 30px 40px;
  transition: linear 0.5s;
}

ul.menu1 li a {
  display: inline-block;
  color: #FFFFFF;
  font-size: 20px;
  transition: ease-in-out 0.4s;
}

ul.menu1 li a:hover {
  opacity: 0.6;
}

a {
  text-decoration: none;
}

/* HAMBURGER */

#button{
  display: none;
}

#burgerMenu {
  display: none;
  background-color: #FFFFFF;
  position: fixed;
  left: -1900px;
  width: 100%;
  height: 100%;
  transition: cubic-bezier(0.165, 0.840, 0.440, 1.000) 1s all;
}

#burgerMenu>nav{
  text-align: center;
}

#burgerMenu ul {
  list-style: none;
  padding: 0;
}

#burgerMenu ul li a {
  display: block;
  font-size: 30px;
  color: #fff;
  font-family: 'Playfair Display' , serif;
}

@media screen and (max-width: 850px){
  
  #headerOne{
    display: none;
  }
  
  #burgerMenu, #button{
    display: block;
    z-index: 1000;
  }
}


/* END OF HAMBURGER */





/* MAIN */

/* ACCUEIL SLIDE */

.monSlider-slide>a>img{
  width: 140%;
}

.monSlider-slide {
  position: relative;
}

.monSlider-slide .informations {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slick-prev {
  left: 25px;
  z-index: 99;
}

.slick-next {
  right: 25px;
  z-index: 99;
}


/** RESPONSIVE DU SLIDER **/

@media screen and (max-width: 1030px) {
  .informations h2 {
    font-size: 45px;
    margin-bottom: -10px;
  }
}

@media screen and (max-width: 600px) {
  .informations p {
    display: none;
  }
  .informations h2 {
    font-size: 40px;
  }
}
