/* 

HEADER 

*/

header {
  font-family: 'Playfair Display' , serif;
}

nav {
  background: #000000;
}

nav img{
  width: 17%;
  display: inline-block;
  margin-left: 2%;
}

.menu1{
  padding-left: 70px;
}

ul {
  list-style: none;
  display: inline-block;
}

ul.menu1>li {
  display: inline-block;
  position: relative;
  padding: 30px 50px;
  transition: linear 0.5s;
}

ul.menu1 li a {
  display: inline-block;
  color: #FFFFFF;
  font-size: 20px;
  transition: ease-in-out 0.4s;
}

ul.menu1 li a:hover {
  opacity: 0.6;
}

a {
  text-decoration: none;
}